<div class=" d-flex flex-column min-vh-100">

  <app-navbar></app-navbar>

  <!-- <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1>
  <h1>ASAD</h1> -->

  <div class="container">
    <div class="row">

      <router-outlet></router-outlet>

    </div>
  </div>

  <app-footer class="footer mt-auto"></app-footer>


</div>
