<!-- <button (click)="setPassword()" class="btn btn-success">
  Set Password
</button> -->

<div class="row d-flex justify-content-center align-items-center m-0">
  <div class="login col-10 col-md-6 col-xl-3 my-5 p-5">
    <!-- <img class="edenkert my-3" src="http://localhost:3000\images\login_background.jpg" alt=""> -->
    <form (ngSubmit)="onLogin()">
      <div class="form-group">
        <label>E-mail</label>
        <input class="form-control" name="email" [(ngModel)]="loginData.email" type="email">
      </div>
      <div class="form-group mt-2">
        <label>Jelszó</label>
        <input class="form-control" name="password" [(ngModel)]="loginData.password" type="password">
      </div>
      <button type="submit" class="btn btn-primary col-12 my-3">
        Belépés
      </button>
    </form>
  </div>
</div>


<!-- <div class="row d-flex justify-content-center align-items-center">
  <div class="login col-10 col-lg-6 my-5 p-5"> -->
    <!-- <img class="edenkert my-3" src="http://localhost:3000/images/edenkert.png" alt=""> -->
    <!-- <form (ngSubmit)="onLogin()">
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" name="email" [(ngModel)]="user.email" type="email">
      </div>
      <div class="form-group mt-2">
        <label>Password</label>
        <input class="form-control" name="password" [(ngModel)]="user.password" type="password">
      </div>
      <button type="submit" class="btn btn-primary col-12 my-3">
        Login
      </button>
    </form>
  </div>
</div> -->
