<div class="row d-flex justify-content-center align-items-center m-0">
  <div class="login col-10 col-md-6 col-xl-3 my-5 p-5">
    <form (ngSubmit)="onLogin()">
      <div class="form-group">
        <label>E-mail</label>
        <input class="form-control" name="email" [(ngModel)]="loginData.email" type="email">
      </div>
      <div class="form-group mt-2">
        <label>Jelszó</label>
        <input class="form-control" name="password" [(ngModel)]="loginData.password" type="password">
      </div>
      <button type="submit" class="btn btn-primary col-12 my-3">
        Belépés
      </button>
    </form>
  </div>
</div>
