<div class="container">
  <div class="row">
    <div *ngIf="(calorieChart$ | async) as calorieChart" class="col-6 offset-3">
      <h3 class="py-2">Adatok szerkesztése</h3>
      <form #calorieChartForm="ngForm" (ngSubmit)="onUpdate(calorieChartForm, calorieChart)">

        <div class=" mt-3">
          <div class="d-flex justify-content-between">
            <label for="">#</label>
          </div>
          <input name="id" [(ngModel)]="calorieChart._id" type="text" class="form-control" disabled required>
        </div>

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Megnevezés</label>
            <div [hidden]="calorieChartForm.controls['name']?.valid" class="error-message mt-1">
              A megnevezés nagybetűvel kezdődjön, és 2-20 karkter hosszú lehet!
            </div>
          </div>
          <input name="name" [(ngModel)]="calorieChart.name" type="text" class="form-control"
            pattern="^[A-ZÁÉÓÖŐÜÚŰÍ].{2,19}$" required>
        </div>

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Ételfajta</label>
            <div [hidden]="calorieChartForm.controls['foodGroup']?.valid" class="error-message mt-1">
              Az ételfajta 2-20 karkter hosszú lehet!
            </div>
          </div>
          <input name="foodGroup" [(ngModel)]="calorieChart.foodGroup" type="text" class="form-control"
            pattern="^.{2,19}$" required>
        </div>

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Energia</label>
            <div [hidden]="calorieChartForm.controls['energy']?.valid" class="error-message mt-1">
              Az energia értéke 1-5 karakter hosszú lehet!
            </div>
          </div>
          <input name="energy" [(ngModel)]="calorieChart.energy" type="number" class="form-control"
            pattern="^[0-9.]{1,5}$" required>
        </div>

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Kcal</label>
            <div [hidden]="calorieChartForm.controls['kcal']?.valid" class="error-message mt-1">
              A kcal értéke 1-5 karakter hosszú lehet!
            </div>
          </div>
          <input name="kcal" [(ngModel)]="calorieChart.kcal" type="number" class="form-control"
            pattern="^[0-9.]{1,5}$" required>
        </div>

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Fehérje</label>
            <div [hidden]="calorieChartForm.controls['protein']?.valid" class="error-message mt-1">
              A fehérje értéke 1-5 karakter hosszú lehet!
            </div>
          </div>
          <input name="protein" [(ngModel)]="calorieChart.protein" type="number" class="form-control"
            pattern="^[0-9.]{1,5}$" required>
        </div>

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Zsír</label>
            <div [hidden]="calorieChartForm.controls['fat']?.valid" class="error-message mt-1">
              A zsír értéke 1-5 karakter hosszú lehet!
            </div>
          </div>
          <input name="fat" [(ngModel)]="calorieChart.fat" type="numbert" class="form-control"
            pattern="^[0-9.]{1,5}$" required>
        </div>

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Szénhidrát</label>
            <div [hidden]="calorieChartForm.controls['carbohydrate']?.valid" class="error-message mt-1">
              A szénhidrát értéke 1-5 karakter hosszú lehet!
            </div>
          </div>
          <input name="carbohydrate" [(ngModel)]="calorieChart.carbohydrate" type="number" class="form-control"
            pattern="^[0-9.]{1,5}$"
            required>
        </div>

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Rost</label>
            <div [hidden]="calorieChartForm.controls['fiber']?.valid" class="error-message mt-1">
              A rost értéke 1-5 karakter hosszú lehet!
            </div>
          </div>
          <input name="fiber" [(ngModel)]="calorieChart.fiber" type="number" class="form-control"
            pattern="^[0-9.]{1,5}$"
            required>
        </div>

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Koleszterin</label>
            <div [hidden]="calorieChartForm.controls['cholesterol']?.valid" class="error-message mt-1">
              A koleszterin értéke 1-5 karakter hosszú lehet!
            </div>
          </div>
          <input name="cholesterol" [(ngModel)]="calorieChart.cholesterol" type="number" class="form-control"
            pattern="^[0-9.]{1,5}$"
            required>
        </div>

        <button [disabled]="calorieChartForm.invalid || clicked" type="submit" class="btn btn-success col-12 btn-lg mt-5">
          <i *ngIf="!clicked" class="fa fa-save"></i>
          <i *ngIf="clicked" class="fa fa-sync"></i>
        </button>
      </form>
    </div>
  </div>
</div>
